$main: #101012;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: $main;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none;
}

svg {
    transition: 0.34s;
}

a,
a:before,
a:after,
input,
select,
textarea,
button {
    transition: color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        background 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        border 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
        transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.colorpaint {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-main {
        position: relative;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(26,28,37,.75);
        border: 1px solid #1c2020;
        border-radius: 12px;
        height: 80vh;
        margin: auto;
        max-width: 1600px;
        overflow-y: scroll;
        padding: 30px 30px 30px 0;
        width: calc(100% - 60px);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-controls {
            position: relative;
            width: 10%;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;

            h2 {
                color: #fff;
                font-weight: bold;
                font-size: 30px;
                text-align: left;
                margin: 0 auto 20px auto;
            }

            span {
                font-size: 12px;
                color: #fff;
                pointer-events: none;
                text-align: center;
            }

            button {
                cursor: pointer;
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(14, 15, 17, 0.75);
                border: 1px solid #1c2020;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
                transition: .34s;
                width: 100%;

                svg {
                    width: 25px;
                    max-width: 25px;
                    min-width: 25px;
                    height: auto;
                    pointer-events: none;
                }

                &:hover {
                    transform: scale(1.1,1.1);

                    svg {
                        transform: rotate(70deg);
                    }
                }
            }

            &-delete {
                position: relative;

                svg {
                    margin-bottom: 10px;
                }
            }

            &-width {
                position: relative;
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(14, 15, 17, 0.75);
                border: 1px solid #1c2020;
                padding: 10px;
                border-radius: 12px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                
                input {
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    text-align: center;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                span {
                    margin-bottom: 10px;
                }

                &-c {
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    width: 100%;

                    button {
                        width: 100%;
                        padding: 10px;
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

            &-color {
                position: relative;
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(14, 15, 17, 0.75);
                border: 1px solid #1c2020;
                padding: 10px;
                border-radius: 12px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                input {
                    position: relative;
                    width: 100%;
                    font-size: 16px;
                    color: #fff;
                    background-color: transparent;
                    border: none;
                    text-align: center;
                    font-weight: bold;
                    margin: 10px 0;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #fff;
                }
            }
        }

        &-board {
            position: relative;
            width: 90%;
            height: 100%;
            background-color: $main;
            border-radius: 12px;
        }
    }
}